.h-38 {

    height: 38px !important;
}
body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  /*color: #cdcdcd;*/
  font-family: "Avenir Next", "Avenir", sans-serif;
}
.nav .nav-link span {
width: 24px!important;

}
.ma-2{


  margin-left: 5px;
}



.nav a:hover{
  color: white;
  
  
  }

.linee{

  border: 0.5px solid grey;

}

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}
.mt-12{

margin-top: 12px;

}
.background-tur{

background-color: #74b9ff;


}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -38px;
  left: 11px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  bottom: 35px;
  left: 16px;
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
.h-611{

height: 920px!important;

}
.h-163{


  height: 163px!important;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin:-25px 0 0 -50px;
  padding: 50px;
  left: 16px;

  padding-top: 25px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
@media (max-width: 767px) {

.mt-2 {
    margin-top: -2rem!important;
}
.w-70{

width: 31%;


}
.h-16{

height: 57px!important;

}
.w-88{
width: 100%!important;


}
}